doctype html
html
  head
    title=title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .wrapper#over-container

      .text-center 
        a(href="/")
          img.img-fluid#logo(src="images/logo.png", alt="Biblioteka w Wieliczce").mt-4

      nav.navbar.navbar-expand-xl.navbar-dark.mb-3

        button.navbar-toggler(
          type="button", 
          data-toggle="collapse", 
          data-target="#navbarNav", 
          aria-controls="navbarNav", 
          aria-expanded="false", 
          aria-label="Toggle navigation")
            span.navbar-toggler-icon
            
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.mx-auto
            li.nav-itemli.nav-item(class=activePage == 'home' ? 'active' : '')
              a.nav-link(href="/") Strona główna
            li.nav-item(class=activePage == 'katalog' ? 'active' : '')
              a.nav-link(href="katalog") Katalog
            li.nav-item(class=activePage == 'onas' ? 'active' : '')
              a.nav-link(href="onas") O nas
            li.nav-item(class=activePage == 'aktualnosci' ? 'active' : '')
              a.nav-link(href="aktualnosci") Aktualności
            li.nav-item(class=activePage == 'galeria' ? 'active' : '')
              a.nav-link(href="galeria") Galeria
            li.nav-item(class=activePage == 'kontakt' ? 'active' : '')
              a.nav-link(href="kontakt") Kontakt
          ul.navbar-nav.ml-auto
            if isAuthenticated
              li.nav-item
                form(action="/wylogowanie", method="POST")
                  button.btn.nav-link(type="submit", href='index', class="login-button") Wyloguj się
            else
              li.nav-item(class=activePage == 'rejestracja' ? 'active' : '')
                a.nav-link(href="rejestracja") Zarejestruj się
              li.nav-item(class=activePage == 'logowanie' ? 'active' : '')
                a.nav-link(href="logowanie", class="login-button") Zaloguj się

      .container.my-3
        if isAuthenticated
          p.text-right Zalogowano jako #{username}
        block content

    footer.footer.bg-dark.text-white.text-center
      .container
        p.my-auto.py-3 2024 Biblioteka w Wieliczce | Kinga Klima

            
